VITE_ALGOD_SERVER=https://testnet-api.algonode.cloud
VITE_ALGOD_PORT=443
VITE_FACILITATOR_URL=https://facilitator.goplausible.xyz
VITE_API_URL=http://localhost:4021
VITE_USDC_ASA_ID=10458941
VITE_NETWORK=algorand:SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=
